<!doctype html>
<html lang="en">
  <!-- Autores: Lluis Miquel Morey Bonnín y Carlos Hoyos-->
  <head>
    <title>Ollivanders</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <!-- Nav que define una barra de navegación entre diferentes páginas, con un buscador en esa página y el logo de la tienda-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarColor02">
        <span class="navbar-toggler-icon"> 
          <img src="Imagenes/Logo.png"/>
        </span>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../frontend/index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Volver</font></font></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../backend/index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BackEnd</font></font></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Buscar</font></font></button>
        </form>
      </div>
    </nav>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Name</th>
            <th scope="col">Sell in</th>
            <th scope="col">Quality</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <tr class="table-light">
          <th scope="row">NormalItem</th>
          <td>Dexterity Vest</td>
          <td>10</td>
          <td>20</td>
        </tr>
        <tr class="table-light">
            <th scope="row">NormalItem</th>
            <td>Elixir of the Mongoose</td>
            <td>5</td>
            <td>7</td>
          </tr>  
        </tbody>
    </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <footer>
      <!-- Copyright de la página -->
      &copy; Copyright
    </footer>
  </body>
</html>